@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 2rem;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo{
    max-width: 5rem;
    
}

.nav-list{
    display: flex;
    gap: 1rem;
}

.social-icons{
    display: flex;
    gap: 1rem;
}