@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}


body{
    
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    

}


ul{
    list-style-type: none;
}


.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.main-header a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.logo{
    max-width: 6rem;  
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-menu{
    display: block;
}


.nav-item{
    position: relative
}

.nav-item::after{
    content: " ";
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(6, 20, 204);
    transition: .2s;
    transform-origin: center ;
}

.nav-item:hover::after{
    width: 100%;
}

.section{
    padding-block: 1rem;
}


.nav-list{
    display: flex;
    gap: 1rem;
    margin: 0 10rem;
    
}

.social-icons{
    display: flex;
    gap: 1rem;
    transform: scale(1.5);
}

.social-icons a{
    transition: .2s;
}

.social-icons a:hover{
    transform: scale(1.3);
    color: rgb(6, 20, 204); 
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 2rem;
    margin: 1rem;     
}

.container-quien-soy{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2); 
}



.quien-soy-inner{
    display: grid;
    align-items: center;
    grid-template-columns: .35fr 1fr;
    grid-template-areas: 
        "foto subtitulo"
        "foto titulo"
        "foto texto";
    column-gap: 4rem;
    padding: 1rem 2rem;
    position: relative;
}

.quien-soy-foto{
    grid-area: foto;
    background-color: black ;
    border-radius: 1rem;
    transform: scale(1.2);
    position: absolute;
    box-shadow: 2px 4px 20px 8px rgba(5, 80, 90, 0.938);
}

.quien-soy-foto img{
    display: block;
    max-width: 100%;
    transform: scale(1.15);
    border-radius: 1rem;
    transition: 1s; 
}

.quien-soy-foto img:hover{
    transform: scale(1.2); 
}

.h3-subtitle{
    grid-area: subtitulo;
}

.proyectos-inner a{
    color: inherit;
    font-weight: 500;
    position: relative;
}

.proyectos-inner a::after{
    content: " ";
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: .2s;
    transform-origin: center ;
}

.proyectos-inner a:hover::after{
    width: 100%;
    color: white;
}

.cards{
    display: flex;
    gap: 1rem;
}

.card{
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    border: 2px solid #007bff;
}
.card-body{
}

.estudios-inner a{
    color: inherit;
    font-weight: 500;
    position: relative;
}

.estudios-inner a::after{
    content: " ";
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: .2s;
    transform-origin: center ;
}

.estudios-inner a:hover::after{
    width: 100%;
    color: white;
}

.estudios-inner a i{
    font-size: 1.2rem;
    text-align: center;
    padding-left: .6rem;
    
}
.contacto-inner a{
    color: inherit;
    font-weight: 500;
    position: relative;
}

.contacto-inner a::after{
    content: " ";
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: .2s;
    transform-origin: center ;
}

.contacto-inner a:hover::after{
    width: 100%;
    color: white;
}

.section-title-main{
    grid-area: titulo;
    font-size: 3rem;
    font-weight: 700;
}
.section-title{
    font-weight: 600;

}

.main-section-text{
    display: block;
}

.main-section-text{
    grid-area: texto;
}


.links{
    text-decoration: none;
    color: rgb(43, 42, 42);
    
}

span{
    font-weight: 600;
}

.tecno{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.icon-size{
    font-size: 3rem;
    padding: 1.5rem;
}

.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-container{
    margin: 2rem;
}

.section-inner{
    display:   flex;
    flex-direction: column;
    transform: scale(1.3);
    align-items: center;
}

.borde{
    display: inline-block;
    padding: 2px 20px;
    background-color: transparent; /* Fondo transparente */
    color: #000; /* Color del texto */
    border: 2px solid #007bff; /* Borde del contenedor */
    border-radius: 10px 10px 0 0; /* Borde redondeado en la parte superior */
    border-bottom: none; /* Quitar el borde inferior para simular una pestaña */
    margin-bottom: 0; /* Opcional: para quitar margen inferior si hay */
    box-shadow: 0px -12px 20px -10px rgba(14, 13, 14, 0.7);


}

.borde h2{
    margin-bottom: 1rem;
    padding: 0;
}

.social{
    transform: scale(1.3);
    
    
}

.social a{
    padding: .5rem;
}



.social a i{
    color: rgb(85, 5, 81);
}



@media screen and (max-width: 910px) {

.nav-menu{
    display: none;
}

.logo{
    max-width: 4rem; 
    margin-right: 2rem; 
}

.quien-soy-inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    
    
    
}

.quien-soy-foto{
    grid-area: foto;
    background-color: black ;
    border-radius: 1rem;
    width: 150px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantén la proporción original */
    position: relative;
    margin: 2.5rem;
    padding: 0;
    box-shadow: 2px 4px 20px 8px rgba(5, 80, 90, 0.938);
}


.h3-subtitle{
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    margin: 0;
}

.main-section-text{
    display: none;
}

.section-title-main{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
    
}